helix/.config/helix/runtime
lazygit/.config/lazygit/state.yml
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.grc-rs.zsh
zsh/.config/zsh/secrets.zsh
aerc/.config/aerc/accounts.conf
tmux/.config/tmux/plugins
*.log
binaries/.local/bin/*
aerc/.config/aerc/accounts.conf
*.token
*.zwc
vscode/.config/*
!vscode/.config/Code/
vscode/.config/Code/*
!vscode/.config/Code/User/
!vscode/.config/Code/extensions.txt
vscode/.config/Code/User/*
!vscode/.config/Code/User/*.json
!vscode/.config/Code/User/snippets/
vim/.config/vim/plugged
tmp*
*.pem
*.backup
cosmic/.config/cosmic/com.championpeak87.cosmic-ext-classic-menu/v1/recent_applications
