.config/coc
.config/helix/runtime
.config/memos.json
.config/lazygit/state.yml
.zcompdump
packer_compiled.lua
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/
.config/zsh/.grc-rs.zsh
.config/zsh/secrets.zsh
.config/aerc/accounts.conf
.tmux/plugins
*.log
