[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.config/zsh/plugins/zsh-ssh"]
	path = zsh/.config/zsh/plugins/zsh-ssh
	url = https://github.com/sunlei/zsh-ssh.git
[submodule "zsh/.config/zsh/plugins/zsh-completion-generator"]
	path = zsh/.config/zsh/plugins/zsh-completion-generator
	url = https://github.com/RobSis/zsh-completion-generator.git
[submodule "zsh/.config/zsh/plugins/zsh-autocomplete"]
	path = zsh/.config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "nvim/.config/nvim/local/quickclip.nvim"]
	path = nvim/.config/nvim/local/quickclip.nvim
	url = https://github.com/bartdorsey/quickclip.nvim.git

[submodule "zsh/.config/zsh/plugins/zsh-auto-notify"]
	path = zsh/.config/zsh/plugins/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
