@define-color	rosewater #d5c4a1;
@define-color	flamingo #fe8019;
@define-color	pink #d3869b;
@define-color	mauve #b16286;
@define-color	red #cc241d;
@define-color	maroon #a54242;
@define-color	peach #fe8019;
@define-color	yellow #d79921;
@define-color	green #98971a;
@define-color	teal #689d6a;
@define-color	sky #458588;
@define-color	sapphire #076678;
@define-color	blue #458588;
@define-color	lavender #83a598;
@define-color	text #ebdbb2;
@define-color	subtext1 #d5c4a1;
@define-color	subtext0 #bdae93;
@define-color	overlay2 #a89984;
@define-color	overlay1 #928374;
@define-color	overlay0 #7c6f64;
@define-color	surface2 #665c54;
@define-color	surface1 #504945;
@define-color	surface0 #3c3836;
@define-color	base #282828;
@define-color	mantle #1d2021;
@define-color	crust #1d2021;

* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 16px;
}

window {
    margin: 0px;
    padding: 5px;
    border: 2px solid @yellow;
    border-radius: 8px;
    background-color: @base;
    animation: slideIn 0.1s ease-in-out both;
}

@keyframes slideIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @base;
    animation: fadeIn 0.1s ease-in-out both;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @base;
}

#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
    background-color: @base;
    overflow-x: hidden;
}

#input {
    margin: 5px 10px;
    padding: 8px;
    border: 1px solid @overlay0;
    border-radius: 4px;
    color: @text;
    background-color: @surface0;
    animation: fadeIn 0.1s ease-in-out both;
    width: auto;
    min-width: 0;
}

#input image {
    border: none;
    color: @yellow;
}

#input * {
    outline: 4px solid @red !important;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
    animation: fadeIn 0.1s ease-in-out both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

#entry {
    background-color: @base;
    margin: 2px;
    padding: 4px;
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
    width: calc(100% - 4px);
}

#entry arrow {
    border: none;
    color: @green;
}

#entry:selected {
    border: 1px solid @yellow;
    border-radius: 6px;
    background-color: @mantle;
    margin: 2px;
    box-sizing: border-box;
    max-width: calc(100% - 6px);
}

#entry:selected #text {
    color: @mauve;
}

#entry:drop(active) {
    background-color: @lavender !important;
}