#:schema https://creativeprojects.github.io/resticprofile/jsonschema/config-1.json
#
# indentation is not needed but it makes it easier to read ;)
#
version = "1"

[default]
repository = "D:/restic"
password-file = "password.txt"

[default.backup]
verbose = true
source = [ "C:/Users/bart" ]
