[Unit]
Description=gpg4win to WSL connector for GPG
Requires=gpg-agent.socket

[Service]
Type=simple
ExecStart=socat STDIO /mnt/c/Users/bart/Apps/wsl2-ssh-pageant.exe -gpg S.gpg-agent -gpgConfigBasepath "C\:/Users/bart/AppData/Local/gnupg"
StandardInput=socket

[Install]
WantedBy=default.target
