[Unit]
Description=Neovim Headless
After=default.target

[Service]
ExecStart=/usr/bin/env nvim --headless --listen /run/user/%U/nvim-server
Restart=always
WorkingDirectory=%h
StandardOutput=append:%h/.local/state/nvim/nvim.log
StandardError=append:%h/.local/state/nvim/nvim.log

[Install]
WantedBy=default.target

