@import "gruvbox.css";

* {
    font-family: "Iosevka Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

#workspaces {
    border-radius: 0px 0.5rem 0.5rem 0px;
    margin: 5px 0;
    background-color: @surface0;
    border: 2px solid @overlay0;
    border-left: none;
}

#workspaces button {
    background: transparent;
    color: @lavender;
    border-radius: 0.5rem;
    border: none;
    padding: 0;
    margin: 0;
}

#workspaces button.active {
    color: @text;
    border-radius: 0.5rem;
}

#workspaces button:hover {
    color: @text;
    background-color: @surface1;
    border-radius: 0.5rem;
}


#window,
#custom-music,
#tray,
#backlight,
#clock,
#cpu,
#custom-date,
#custom-date-central,
#custom-date-pacific,
#memory,
#network,
#temperature,
#battery,
#pulseaudio,
#idle_inhibitor,
#custom-lock,
#custom-weather,
#custom-wireguard-manager,
#custom-power {
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#custom-wireguard-manager {
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#window {
    margin-left: 10px;
    border-radius: 0.5rem;
}

#clock {
    color: @lavender;
    border-radius: 0px 0.5rem 0.5rem 0px;
}

#memory {
    color: @flamingo;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#cpu {
    color: @yellow;
    border: 2px solid @overlay0;
    border-right: none;
    border-left: none;
    min-width: 40px;
}

#network {
    min-width: 80px;
    border-radius: 0px;
    color: @lavender;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#idle_inhibitor {
    border-radius: 0px;
    color: @green;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#temperature {
    min-width: 40px;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#battery {
    color: @green;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @flamingo;
}

#backlight {
    color: @yellow;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: @flamingo;
    border-radius: 0px;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#custom-music {
    color: @pink;
    border-radius: 0.5rem;
    margin-left: 2px;
    border: 2px solid @overlay0;
}

#custom-weather {
    border-radius: 0.5rem 0px 0px 0.5rem;
    color: @yellow;
    border: 2px solid @overlay0;
    border-right: none;
}

#custom-lock {
    color: @lavender;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
    border-radius: 0px;
}

#custom-power {
    border-radius: 0px 0.5rem 0.5rem 0px;
    color: @flamingo;
}

#custom-date-central {
    border-radius: 0.5rem 0px 0px 0.5rem;
    border: 2px solid @overlay0;
    border-right: none;
}

#custom-date {
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}

#custom-date-pacific {
    border-radius: 0px 0.5rem 0.5rem 0px;
    border: 2px solid @overlay0;
    border-left: none;
}

#tray {
    border-radius: 0px;
    border-top: 2px solid @overlay0;
    border-bottom: 2px solid @overlay0;
}
