[mgr]
linemode = "size_and_mtime"
show_hidden = true
show_symlink = true

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
