#zen-workspaces-button {
  & toolbarbutton {
    & .zen-workspace-icon {
      font-size: 1.75rem !important;
    }
  }
}

.zen-essentials-container .tabbrowser-tab {
  --tab-min-height: 4rem;
  & .tab-icon-image {
    min-height: 2rem;
    min-width: 2rem;
  }
}

.tab-group-label-container {
  --tab-min-height: 2.1rem;
}

.tabbrowser-tab {
  --tab-min-height: 2.1rem;
} 

